@import 'src/assets/styles/common/variables';

.payment-page {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);

  &__container {
    padding: 20px 10px;
    margin: auto;
  }
}

.payment-details {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 500px;
  padding: 30px;
  background-color: #fff;
  position: relative;
  border-radius: 10px;
  font-size: 0.8rem;
  font-family: $Sitara;

  @media screen and (max-width: 580px) {
    width: 400px;
    padding: 20px;
  }

  @media screen and (max-width: 460px) {
    width: 360px;
  }

  &__close-btn {
    background: url('https://api.iconify.design/typcn/delete-outline.svg?color=%238b9d93&width=36&height=36') no-repeat center center / contain;
    width: 36px;
    height: 36px;
    position: absolute;
    right: 15px;
    top: 15px;
    transition: transform 0.2s;

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
      transition: transform 0.2s;
    }
  }

  &__title {
    font-size: 20px;
    color: $oliva;
    margin-bottom: 10px;
    letter-spacing: 0.1px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    text-align: start;
  }

  &__name,
  &__shipping-address,
  &__email,
  &__phone-number {
    text-align: start;
    padding: 20px 10px;
    border: solid $greyBorder 1px;
    margin-bottom: 15px;
    outline: 0;
    border-radius: 5px;
  }
}

.payment-details__title,
.payment-method__top {
  display: flex;
  padding: 10px 0;
}


.payment-method {
  display: flex;
  flex-direction: column;
  border: none;

  &__top {
    display: flex;
    align-items: center;
    padding: 0;
    margin-bottom: 10px;
  }

  &__title {
    margin-right: 15px;
    color: $oliva;
    letter-spacing: 1px;
    font-size: 20px;
  }
  }

.cards {
  display: flex;
  gap: 10px;

  &__img {
    width: 57px;
    height: 37px;
    padding: 5px;
    background-size: contain;

    &_visa {
      background: url("/src/assets/img/payment/visa.svg") center no-repeat;
    }

    &_mastercard {
      background: url("/src/assets/img/payment/mastercard.svg") center no-repeat;
    }

    &_amex {
      background: url("/src/assets/img/payment/paypal.svg") center center no-repeat;
    }
  }
}

.card-details {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.card-details__name,
.card-details__card-number,
.bottom-row__date,
.bottom-row__cvv {
  text-align: start;
  padding: 20px 10px;
  border: solid $greyBorder 1px;
  border-radius: 5px;
  outline: 0;
}

.bottom-row {
  display: flex;
  justify-content: space-between;

  &__cvv,
  &__date {
    width: 220px;
    text-align: center;

    @media screen and (max-width: 580px) {
      width: 170px;
    }

    @media screen and (max-width: 460px) {
      width: 130px;
    }
  }
}

.summary-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 400px;
  font: 1rem "Sitara", sans-serif;
  border: solid 1px $greyBorder;
  background-color: #F9F9F9;
  padding: 10px 15px;


  &__title {
    font-size: 20px;
    color: $oliva;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: solid $greyBorder 1px;
    margin-bottom: 10px;
  }

  &__list {
    margin-bottom: 60px;
  }

  &__order-btn {
    border-radius: 5px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: $oliva;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
    height: 50px;
    transition: all 0.2s;

    &:hover {
      cursor: pointer;
      background-color: $olivaHover;
      transition: all 0.2s;
    }

    &:active {
      transform: scale(0.98);
    }


  }

}

.summary-item {
  padding: 5px 0;
  border-bottom: solid $greyBorder 1px;

  &__top{
    font-size: 14px;
    font-family: $Sitara;
    font-weight: 400;
    width: 300px;
    line-height: 28px;
    padding: 0 0 10px 0;
  }
}

.bottom-item {
  display: flex;
  align-items: center;
  justify-content: center;

  &__quantity {
    font-weight: 600;
    margin-right: 30px;
  }

  &__quantity-minus {
    background: url('https://api.iconify.design/ph/minus-circle.svg?color=%239aab9f&width=20&height=20') no-repeat center center / contain;
  }
  &__quantity-plus {
    background: url('https://api.iconify.design/ph/plus-circle.svg?color=%239aab9f&width=20&height=20') no-repeat center center / contain;
  }

  &__quantity-minus,
  &__quantity-plus {
    height: 24px;
    width: 24px;

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }

  &__price {
    margin-left: auto;
    font-weight: 500;
    font-size: 16px;
  }

  &__count {
    padding: 0 5px;
  }
}

.summary-discount,
.summary-total {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.summary-discount {
  &__name,
  &__amount {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-weight: 700;
    font-size: 14px;
    color: rgb(116, 116, 116);
  }
}
.summary-total {

  &__name,
  &__amount {
    font-size: 20px;
    font-weight: 600;
  }

  &__amount {
    letter-spacing: 1px;
  }
}

.valid:focus {
  border: 1.5px solid green;
}

.valid,
.payment-details__email:valid {
  border: 1.5px solid green;
}

.invalid {
  border: 1.5px solid red;
}

.payment-test{
  display: flex;
  justify-content: center;
  cursor: pointer;
  text-decoration: underline;
  text-transform: uppercase;
  padding: 5px;
  color: rgb(116, 116, 116);
}


