@import '../../../../../assets/styles/common/variables';

.product-item {
  width: 214px;
  height: 324px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font: 1rem $Sitara;
  position: relative;
  overflow: hidden;

  &:hover {
    // cursor: pointer;
  }

  &__img {
    background: url(../../../../../assets/img/zaglushka.png) no-repeat center;
    width: 214px;
    height: 158px;
    margin: 0 auto;
    
  }

  &__cart-text {
    width: 100%;
    background-color: $oliva;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: relative;
    right: 250px;
    transition: 0.2s;
    cursor: pointer;
  }

  &__info {
    display: flex;
    flex-direction: column;
  }
}

.product-item:hover > .product-item__cart-text {
    right: 0px;
    transition: 0.2s;
}

.item-info {
  &__name-price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 24px;
  }
}