@import '../../../../../assets/styles/common/variables';

.product-item {
  width: 215px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font: 1rem $Sitara;
  position: relative;
  border-radius: 5px;

  &__img {
    background-repeat: no-repeat;
    width: 215px;
    height: 215px;
    transition: box-shadow 0.3s;


    &:hover {
      cursor: pointer;
      box-shadow: 0px -2px 43px -7px rgba(34, 60, 80, 0.12);
      transition: box-shadow 0.3s;
    }

  }

  &__text-wrapper {
    overflow: hidden;
    height: 35px;
    cursor: pointer;
  }

  &__cart-text {
    padding: 4px;
    background-color: $oliva;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 600;
    position: relative;
    border-radius: 2px;
    bottom: 65px;
    transition: 0.3s;
  }

  &__info {
    display: flex;
    flex-direction: column;
    color: $darkGray;
    font-size: 0.9rem;
    padding: 0px 5px;
  }
}

.product-item:hover > .product-item__text-wrapper > .product-item__cart-text {
    bottom: 0px;
    transition: 0.3s;
}

.item-info {

  &__name-price {
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 15px;
    color: $mainBlack;
    font-size: 1rem;
    margin-bottom: 15px;
  }
}


// switching row style

.row-view .product-item {
  height: 200px;
  width: 100%;
  flex-direction: row;
  align-items: center;
}

.row-view .product-item__img {
  width: 200px;
  height: 200px;
}

.row-view .product-item__info {
  width: 100%;
  font-size: 1rem;
}

.row-view .item-info__name-price {
  font-size: 1.2rem;
  justify-content: space-between;
  font-weight: bold;
}

.row-view .product-item__text-wrapper {
  order: 1;
  height: 55px;
  width: 40%;
}

.row-view .product-item__cart-text {
  height: 50px;
  bottom: 85px;
  font-size: 1.2rem;
}
