@import '../../../../assets/styles/common/variables';

.shopping-cart {
  max-width: 1335px;
  display: grid;
  grid-template-columns: 4fr 2fr;
  column-gap: 28px;
  background-color: #fff;
  padding: 0px 24px;

  &__header {
    font: 1.5rem $Sitara;
    letter-spacing: 0.05em;
    color: $oliva;
    grid-column: 1 / 3;
    padding-bottom: 25px;
  }

  &__subheader {
    font: 1rem $Sitara;
    color: #000;
    font-weight: 700;
    grid-column: 1 / 2;
    display: grid;
    grid-template-columns: 4fr 1fr 1fr 1fr;
    border-top: 1px solid $greyBorder;
    border-bottom: 1px solid $greyBorder;
    padding: 15px 0px;

    span:first-child {
      text-align: left;
      padding-left: 56px;
    }

    span {
      text-align: center; 
    }
  }

  &__list {
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__summery {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    display: flex;
    flex-direction: column;
    gap: 14px;
  }

}

.cart-item {
  height: 236px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  border-bottom: 1px solid $greyBorder;
  position: relative;

  &__content {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 1fr 1fr;
    align-items: center;
    padding: 20px 0px;
  }

  &__img {
    background: url("../../../../assets/img/zaglushka.png") no-repeat center;
    width: 157px;
    height: 158px;
  }

  &__info {
    text-align: left;
    font: 1rem $Sitara;
    color: $darkGray;
  }

  &__price {
    font-weight: 700;
  }

  &__qty {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 50px 20px;
    grid-template-rows: 20px 20px;
    align-items: center;
    gap: 3px;
  }

  &__subtotal {
     color: $greyBorder;
     font-weight: 700;
  }

  &__cross {
    background: url("../../../../assets/img/Cart_cross.svg") no-repeat center;
    width: 12px;
    height: 12px;
    position: absolute;
    right: 10px;
    bottom: 10px;
    transition: transform 0.15s;
  }

  &__cross:hover {
    cursor: pointer;
  }

  &__cross:active {
    transform: scale(0.9);
    transition: transform 0.15s;
  }
}

.cart-item-info {

  &__name {
    font: 1.2rem $Sitara;
    padding-bottom: 10px;
  }

}

.cart-item-qty {

  &__value-container {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    width: 48px;
    height: 43px;
    background: #fff;
    border: 1px solid $greyBorder;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__arrow-container {
    width: 14px;
    height: 19px;
    border: 1px solid $greyBorder;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.15s;

    &:hover {
      cursor: pointer;
    }
    
    &.up:active {
      transform: translateY(-3px);
      transition: transform 0.15s;
    }

    &.down:active {
      transform: translateY(3px);
      transition: transform 0.15s;
    }

  }

  &__arrow-up {
    background: url("../../../../assets/img/arrow_up.svg") no-repeat center;
    width: 6px;
    height: 7px;
  }

  &__arrow-down {
    background: url("../../../../assets/img/arrow_up.svg") no-repeat center;
    transform: rotate(180deg);
    width: 6px;
    height: 7px; 
  }

}


.summery-info {
  background: #F9F9F9;
  border: 1px solid $greyBorder;
  height: 300px;

  &__header {
    font: 1.5rem $Sitara;
    color: $oliva;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    padding: 10px 0px;
  }

  &__order-container {
    height: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
}

.order-container {

    &__text-value {
      display: flex;
      justify-content: space-between;
      width: 90%;
      border-top: 1px solid $greyBorder;
    }

    &__text,
    &__total-value {
      font: 1.5rem $Sitara;
      color: #000;
      font-weight: 700;
      padding-top: 10px;
    }

    &__total-value {

    }

    &__button {

    }

}

.order-container-button {

}

.button-order {
  width: 360px;
  height: 32px;
  background: $oliva;
  font: 1rem $Sitara;
  color: #fff;
  border-radius: 3px;
  border: none;
  transition: transform 0.2s;

    &:hover {
    cursor: pointer;
    }  
  
    &:active {
      transform: scale(98%);
      transition: transform 0.2s;

    }
}

.shopping-promo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

.input-promo {
  width: 75%;
  height: 40px;
  background: #FFFFFF;
  border: 1px solid $greyBorder;
  border-radius: 5px;
}

.button-apply {
  width: 71px;
  height: 40px;
  background: #8B9D93;
  border-radius: 5px;
  border: none;
  font: 1rem $Sitara;
  color: #fff;
  cursor: pointer;
  transition: transform 0.2s;

    &:active {
      transform: scale(97%);
      transition: transform 0.2s;
    }

    &:disabled {
      background: $darkGray;
      cursor: default;
      transform: none;
    }



}