@import '../../../../../assets/styles/common/variables';
input {
  color: $darkGray;
  text-align: center;
}

._hidden {
  display: none;
}

.main-catalog {
  padding: 0 20px;
  color: $mainBlack;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: 1fr 4fr;
  column-gap: 57px;

  &__bread-crumbs {
    margin: 11px 0;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    height: 26px;

    //временно
    &:after{
      content: 'тут будут хлебные крошки';
    }
  }

  //стили листа в productListView.scss
  &__products {

  }
}

.filters {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.filters-item {
  display: flex;
  flex-direction: column;
  width: 250px;
  border-top: solid 1px $greyBorder;
  margin-bottom: 30px;

  &__title {
    font-family: $Sitara;
    font-weight: 600;
    font-size: 1em;
    padding-top: 10px;
    margin-bottom: 15px;
  }
}

.colors {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.colors__color {
  position: relative;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  border: solid 0.5px lightgray;

  &:hover{
    cursor: pointer;

    &:after{
      position: absolute;
      top: 29px;
      left: 0;
      z-index: 1;
      font-size: 12px;
    }
  }
}

.is-black{
  &:hover{
    &:after{
      content: 'black';
    }
  }
  background-color: black;
}
.is-grey{
  &:hover{
    &:after{
      content: 'gray';
      left: 2px;
    }
  }
  background-color: gray;
}
.is-silver{
  &:hover{
    &:after{
      content: 'silver';
    }
  }
  background-color: silver;
}
.is-white{
  &:hover{
    &:after{
      content: 'white';
    }
  }
  background-color: white;
}
.is-yellow{
  &:hover{
    &:after{
      content: 'yellow';
    }
  }
  background-color: yellow;
}
.is-green{
  &:hover{
    &:after{
      content: 'green';
    }
  }
  background-color: darkgreen;
}
.is-pink{
  &:hover{
    &:after{
      content: 'pink';
      left: 2px;
    }
  }
  background-color: hotpink;
}
.is-red{
  &:hover{
    &:after{
      content: 'red';
      left: 5px;
    }
  }
  background-color: darkred;
}
.is-purple{
  &:hover{
    &:after{
      content: 'purple';
    }
  }
  background-color: purple;
}
.is-blue{
  &:hover{
    &:after{
      content: 'blue';
      left: 2px;
    }
  }
  background-color: darkblue;
}
.is-brown{
  &:hover{
    &:after{
      content: 'brown';
    }
  }
  background-color: saddlebrown;
}


.collection {
  display: flex;
  gap: 20px;

  &__year{
    background-color: lightgray;
    width: 45px;
    padding: 5px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    border-radius: 10px;

    &:hover{
      cursor: pointer;
      background-color: $oliva;
      color: white;

    }
  }
}

.price,
.stock {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.price {
  position: relative;

  &__dollar_end,
  &__dollar_start {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-weight: 600;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  &__dollar_end{
    right: 35px;
  }

  &__dollar_start{
    left: 95px;
  }
}

.box-start,
.box-end {
  width: 80px;
  height: 30px;
  overflow: hidden;
  padding-right: 15px;
}

.dual-range{
  width: 240px;
}

.range-bar {
  width: 100%;
}

.category {
  display: flex;
  justify-content: space-between;
  margin-bottom: 7px;

  &__label{
    font-family: $Sitara;
    color: $darkGray;

    &:hover{
      cursor: pointer;
      color: $greyBorder;
      transition: 0.3ms ease-in-out;
    }
  }

  &__checkbox{
    width: 18px;
    height: 18px;
    padding: 0;

    &:hover{
      cursor: pointer;
    }
  }
}



