@import url('./fonts.scss');
@import url('./normalize.css');


$Ruluko: Ruluko, sans-serif;
$Ruge_Boogie: Ruge Boogie, sans-serif;
$Sitara: Sitara, sans-serif;
$oliva:#8B9D93;


a {
  text-decoration: none;
}

html {
  overflow-x: hidden;
}

.app {
  max-width: 1440px;
}

.wrapper {
  margin: 0 auto;
}

.header {
  background-color: #fff;
}

.header__container {
  width: 94%;
  height: 108px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  &__img {
    position: absolute;
    left: 10px;
    top: 48px;
    background: url("./assets/img/spruce_logo.svg") no-repeat center;
    width: 32px;
    height: 32px;

    @media screen and (max-width: 450px) {
      width: 22px;
      height: 22px;
      left: 10px;
      top: 33px;
      background-size: contain;
    }
  }

  &__title {
    font: 2.5rem $Ruluko;
    letter-spacing: 0.15em;
    color: $oliva;

    @media screen and (max-width: 450px) {
      font-size: 1.8rem;
    }
  }

  &__subtitle {
    font: 1.7rem $Ruge_Boogie;
    letter-spacing: 0.05em;
    color: $oliva;

    @media screen and (max-width: 450px) {
      font-size: 1.1rem;
    }
  }
  
}

.header-cart {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 3.5%;
  cursor: pointer;

  &__img {
    background: url("./assets/img/cart-header.svg") no-repeat center;
    width: 80px;
    height: 80px;

    @media screen and (max-width: 450px) {
      width: 50px;
      height: 50px;
      background-size: contain;
    }
  }

  &__amount-container {
    position: absolute;
    top: 14px;
    right: -8px;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: $oliva;
    border: 0.5px solid #747474;

    @media screen and (max-width: 450px) {
      width: 25px;
      height: 25px;
      top: 5px;
      right: -3px;
      background-size: contain;
    }
  }

  &__num {
    font: 1.5rem $Sitara;
    color: #747474;

    @media screen and (max-width: 450px) {
      font-size: 1rem;
    }
  }

  &__amount {
    position: relative;
    font: 1rem $Sitara;
    color: #eee;
    right: -12px;
    top: 4px;

    @media screen and (max-width: 450px) {
      // font-size: 1rem;
      right: -8px;
      top: 1px;
    }
  }
}




.main {
  height: 100vh;
}

.find-container {
  background-color: $oliva;
  height: 152px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.find-title {
  width: 530px;
  font: 1.65rem $Sitara;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #fff;
  text-align: center;

  @media screen and (max-width: 600px) {
    width: 280px;
    font-size: 1rem;
  }
}

.find-input-wrapper {
  position: relative;
  width: 230px;
}

.find-input {
  width: 100%;
  height: 28px;
}

.find-input::placeholder {
  font: 1em $Sitara;
}

.find-input-img {
  background: url("./assets/img/loup.svg") no-repeat center;
  position: absolute;
  width: 12px;
  height: 13px;
  top: 10px;
  right: 2px;
}


.footer {
  background: $oliva;

  &__container {
    height: 70px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font: 1.2rem $Sitara;
    color: #fff;

    @media screen and (max-width: 820px) {
      height: 120px;
      flex-direction: column;
      justify-content: space-around;
    }
    @media screen and (max-width: 500px) {
      height: 200px;
      gap: 10px;
    }
}
}

.footer-github {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;

  @media screen and (max-width: 500px) {
    flex-direction: column;
    gap: 2px;
  }
}

.github-link {
  color: #fff;
  position: relative;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;

  &:hover {
    filter: invert(100%);
    transition: 0.3s;
    cursor: pointer;
  }
}

.github-link-img {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("./assets/img/github.svg") no-repeat center;
  filter: invert(100%);
}

.rsschool-logo {
  width: 60px;
  height: 30px;
  transition: 0.3s;
  background: url("./assets/img/rs-logo.svg") no-repeat center;

  &:hover {
    filter: invert(100%);
    transition: 0.3s;
    cursor: pointer;
  }
}
