@import url('./fonts.scss');
@import url('./normalize.css');


$Ruluko: Ruluko, sans-serif;
$Ruge_Boogie: Ruge Boogie, sans-serif;
$Sitara: Sitara, sans-serif;
$oliva:#8B9D93;


a {
  text-decoration: none;
}

html {
  overflow-x: hidden;
}

.app {
  max-width: 1440px;
}

.wrapper {
  margin: 0 auto;
}

.header {
  background-color: #F5F5F5;
}

.header__container {
  width: 95%;
  height: 7vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  &__img {
    position: absolute;
    left: 0.6vw;
    top: 3vw;
    background: url("./assets/img/spruce_logo.svg") no-repeat center;
    width: 1.6vw;
    height: 2vw;
    background-size: cover;
  }

  &__title {
    font: 2.7vw $Ruluko;
    letter-spacing: 0.15em;
    color: $oliva;
  }

  &__subtitle {
    font: 2vw $Ruge_Boogie;
    letter-spacing: 0.05em;
    color: $oliva;
  }
}

.header-cart {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 4.5vw;
  cursor: pointer;

  &__img {
    background: url("./assets/img/cart-header.svg") no-repeat center;
    width: 3.5vw;
    height: 4.5vw;
    background-size: cover;
  }

  &__amount-container {
    position: absolute;
    top: 0.6vw;
    right: -1vw;
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    background: $oliva;
    border: 0.5px solid #747474;
  }

  &__num {
    font: 1vw $Sitara;
    color: #747474;
  }

  &__amount {
    position: relative;
    font: 1vw $Sitara;
    color: #eee;
    right: -0.7vw;
    top: 0.25vw
  }
}

.main {
  height: 100vh;
}

.find-container {
  background-color: $oliva;
  height: 9.5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.find-title {
  width: 34%;
  font: 1.7vw $Sitara;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #fff;
}

.find-input-wrapper {
  width: 17%;
  position: relative;
}

.find-input {
  width: 100%;
  height: 1.3vw;
}

.find-input::placeholder {
  font: 1.1vw $Sitara;
}

.find-input-img {
  background: url("./assets/img/loup.svg") no-repeat center;
  background-size: contain;
  width: 0.8vw;
  height: 0.8vw;
  position: absolute;
  top: 0.5vw;
  right: 0.3vw;

}


.footer {
  background: $oliva;

  &__container {
    height: 6vw;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font: 1.2vw $Sitara;
    color: #fff;
  }
}

.footer-github {
  display: flex;
  flex-direction: row;
  gap: 1vw;
  align-items: center;
}



.github-link {
  color: #fff;
  position: relative;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5vw;

  &:hover {
    filter: invert(100%);
    transition: 0.3s;
    cursor: pointer;
  }
}

.github-link-img {
  display: inline-block;
  width: 2vw;
  height: 2vw;
  background: url("./assets/img/github.svg") no-repeat center;
  background-size: cover;
  filter: invert(100%);
}

.rsschool-logo {
  width: 6vw;
  height: 3vw;
  transition: 0.3s;
  background: url("./assets/img/rs-logo.svg") no-repeat center;

  &:hover {
    filter: invert(100%);
    transition: 0.3s;
    cursor: pointer;
  }
}
