@font-face {
  font-family: Ruluko;
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/ruluko-v21-latin-regular.woff2');
  src:  url('../fonts/ruluko-v21-latin-regular.woff');
}

@font-face {
  font-family: Ruge Boogie;
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/ruge-boogie-v24-latin-regular.woff2');
  src:  url('../fonts/ruge-boogie-v24-latin-regular.woff');
}

@font-face {
  font-family: Sitara;
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Sitara-400.ttf');
}

@font-face {
  font-family: Sitara;
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Sitara-Bold-700.ttf');
}
