@import 'common/_variables';
@import url('fonts.scss');
@import url('normalize.css');

a {
  text-decoration: none;
}

html {
  overflow-x: hidden;
}

body{
  min-width: 320px;
}
.app {
  max-width: 1440px;
}

.wrapper {
  margin: 0 auto;
}

.header {
  background-color: #fff;
}

.header__container {
  padding: 5px 20px;
  height: 108px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: 600px) {
   padding: 0 15px;
  }
  @media screen and (max-width: 450px) {
    height: 80px;
  }
}

.header-logo {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__img {
    position: absolute;
    left: 0;
    top: 48px;
    background: url("../img/spruce_logo.svg") no-repeat center;
    width: 32px;
    height: 32px;

    @media screen and (max-width: 450px) {
      width: 26px;
      height: 26px;
      left: 7px;
      top: 43px;
      background-size: contain;
    }
  }

  &__title {
    font: 2.5rem $Ruluko;
    letter-spacing: 0.15em;
    color: $oliva;

    @media screen and (max-width: 450px) {
      font-size: 2.2rem;
    }
  }

  &__subtitle {
    padding: 5px 0 0 10px;
    font: 1.75rem $Ruge_Boogie;
    letter-spacing: 0.15em;
    color: $oliva;

    @media screen and (max-width: 450px) {
      font-size: 1.5rem;
    }
  }

}

.main {
}

.find-container {
  background-color: $oliva;
  height: 152px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  @media screen and (max-width: 450px) {
    height: 120px;
  }

  @media screen and (max-width: 360px) {
    height: 100px;
  }
}

.find-title {
  width: 530px;
  font: 1.65rem $Sitara;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #fff;
  text-align: center;

  @media screen and (max-width: 600px) {
    width: 380px;
    font-size: 1.2rem;
  }

  @media screen and (max-width: 450px) {
    width: 315px;
    font-size: 1rem;
  }

  @media screen and (max-width: 360px) {
    width: 300px;
    font-size: 0.8rem;
  }
}

.find-input-wrapper {
  position: relative;
  width: 230px;
}

.find-input {
  width: 100%;
  height: 28px;

  @media screen and (max-width: 360px) {
    height: 22px;
  }
}

.find-input::placeholder {
  font: 1em $Sitara;

  @media screen and (max-width: 600px) {
    font-size: 0.8em;
  }
}

.find-input-img {
  background: url("../img/loup.svg") no-repeat center;
  position: absolute;
  width: 12px;
  height: 13px;
  top: 10px;
  right: 2px;

  @media screen and (max-width: 360px) {
    top: 6px;
  }
}


.footer {
  background: $oliva;
  margin-top: 30px;

  &__container {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font: 1.2rem $Sitara;
    color: #fff;

    @media screen and (max-width: 768px) {
      flex-direction: column;
      gap: 8px;
      font-size: 1rem;
    }

    @media screen and (max-width: 410px) {
      padding: 5px 10px;
      gap: 5px;
      font-size: 0.8rem;
    }
}
}

.footer-github {
  display: flex;
  gap: 15px;
  align-items: center;
}

.footer-github > p {
  @media screen and (max-width: 410px) {
    display: none;
  }
}

.github-link {
  color: #fff;
  position: relative;
  display: flex;
  align-items: center;
  gap: 5px;

  &:hover {
    filter: invert(100%);
    transition: 0.3s;
    cursor: pointer;
  }
}

.github-link-img {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("../img/github.svg") no-repeat center;
  filter: invert(100%);
}

.footer-rsschool{
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}

.rsschool-logo {
  width: 60px;
  height: 30px;
  transition: 0.3s;
  background: url("../img/rs-logo.svg") no-repeat center;

  &:hover {
    filter: invert(100%);
    transition: 0.3s;
    cursor: pointer;
  }
}
